body{
    background-color:lightcyan;
}
.logoimg{
    width:240px;
    height:64px;
    margin-left: auto;
    margin-right: auto;
}

.logoimg > img{
    display:block;
    width:240px;
    height:64px;
}
.navlist {
    background-color: #495e57;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navlist li{
    list-style-type: none;
}

.navlist a{
    display:inline-block;
    padding:1.5em;
    margin:0 1.5em;
    text-align: center;
    color: #fff;
}
main{
    margin-top:-0.8em;
}
section {
    display:flex;
    width:100%;
}

div.banner{
    flex:100%;
    height:350px;
    background-image: url('mdtrranian.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.banner > h2{
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #623926;
    
}

div.banner h2:last-child{
    margin-top:-0.5em;
}

div.banner > img {
    display: block;
    width:100%;
    height:100%;
}

section.topmenu{
    display:grid;
    grid-template-columns: 1fr;
    width:80%;
    margin-top: 2em;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}
section.topmenu > article{
    margin-top:1.5em;
}

section.topmenu  article:last-child{
    margin-bottom:1.5em;
}

@media only screen and (min-width: 601px) {
    section.topmenu{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        width:100%;
        margin-top: 2em;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
    }
    section.topmenu > article{
        margin:1em;
    }
            
  }
  @media only screen and (min-width: 768px) {
    section.topmenu{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        width:90%;
        margin-top: 2em;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
    }
    section.topmenu > article{
        margin:1em;
        
    }
            
  }

  @media only screen and (min-width: 1100px) {
    section.topmenu{
        display:grid;
        grid-template-columns: repeat(3,1fr); 
        /*display:flex;*/
        width:80%;
        margin-top: 2em;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
    }
    section.topmenu > article{
        margin:2em;
        /* flex:30%; 
        /* max-width: 30%; */
    }
            
  }
div.card{
    border:1px solid silver;
}
div.card > img{
    display:block;
    width:100%;
    height:240px;
}
footer {
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    background-color:cadetblue;
}

footer > div {
    flex:1;
}
#footerlogo{
    margin:0 auto;
    margin-left:2em;
    text-align: center;
}
#footerlogoimg{
    display:block;
    width:80px;
    height:80px;
    padding:0.5em;
}